{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_section"}
		<h1>Registration Submitted Successfully</h1>
		<p>Thank you for registering for DiscoverFAS.
		We have received your submission and will be contacting you shortly with 
		information about the event.  In the mean time, if you have any questions,
		please contact us as <a href="mailto:{$ENV.APPLICATION.contact_email}">{$ENV.APPLICATION.contact_email}</a>.</p>
		
		<p>Please return to the <a href="http://fas.sfu.ca/DiscoverFAS">Discover FAS Web Page</a>.</p>
	{/fill_slot}
{/use_macro}